[Unit]
Description=Load AMD ACP mic modules
After=systemd-modules-load.service
Before=display-manager.service
ConditionPathExists=/usr/lib/modules/%v/extra/acp-mic/snd-acp-pci.ko.xz
ConditionPathExists=/usr/lib/modules/%v/extra/acp-mic/snd-acp-mach.ko.xz
ConditionPathExists=/usr/lib/modules/%v/extra/acp-mic/snd-acp-legacy-mach.ko.xz

[Service]
Type=oneshot
ExecStart=/usr/sbin/modprobe snd_acp_config
ExecStart=/usr/sbin/modprobe snd_acp_legacy_common
ExecStart=/usr/sbin/modprobe snd_amd_acpi_mach
ExecStart=/usr/sbin/modprobe snd_soc_nau8821
ExecStart=/usr/bin/bash -lc 'grep -q "^snd_acp_pci " /proc/modules || /usr/sbin/insmod /usr/lib/modules/%v/extra/acp-mic/snd-acp-pci.ko.xz'
ExecStart=/usr/bin/bash -lc 'grep -q "^snd_acp_mach " /proc/modules || /usr/sbin/insmod /usr/lib/modules/%v/extra/acp-mic/snd-acp-mach.ko.xz'
ExecStart=/usr/bin/bash -lc 'grep -q "^snd_acp_legacy_mach " /proc/modules || /usr/sbin/insmod /usr/lib/modules/%v/extra/acp-mic/snd-acp-legacy-mach.ko.xz'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target