[Unit]
Description=Load AMD ACP mic modules
After=systemd-modules-load.service
Before=display-manager.service
ConditionPathExists=/usr/lib/modules/%v/extra/acp-mic/snd-acp-pci.ko.xz
ConditionPathExists=/usr/lib/modules/%v/extra/acp-mic/snd-acp-mach.ko.xz
ConditionPathExists=/usr/lib/modules/%v/extra/acp-mic/snd-acp-legacy-mach.ko.xz

[Service]
Type=oneshot
ExecStart=/usr/sbin/modprobe snd_acp_config
ExecStart=/usr/sbin/modprobe snd_acp_legacy_common
ExecStart=/usr/sbin/modprobe snd_amd_acpi_mach
ExecStart=/usr/sbin/modprobe snd_soc_nau8821
ExecStart=/usr/sbin/modprobe snd_acp_pci
ExecStart=/usr/sbin/modprobe snd_acp_mach
ExecStart=/usr/sbin/modprobe snd_acp_legacy_mach
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target